<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>G00420185@atu.ie</h1>
    <ul>
        <% links.forEach(link => { %>
            <li><a href="<%= link.path %>"><%= link.name %></a></li>
        <% }); %>
    </ul>
</body>
</html>
